
.navbar-custom {
	background-color: #252422;
	background-color: rgba(37, 36, 34, 1);
}

.custom-toggler.navbar-toggler {
border-color: rgb(237, 236, 235);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	font-family: Helvetica;
	font-size: 14px;
	letter-spacing: 4.4px;
	color: #EDECEB;
	color: rgb(237, 236, 235);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	font-family: Helvetica;
	font-size: 14px;
	letter-spacing: 4.4px;
	color: #EDECEB;
	color: rgb(237, 236, 235);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
	font-family: Helvetica;
	font-size: 15px;
	letter-spacing: 4.4px;
	color: #EDECEB;
	color: rgb(237, 236, 235);
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu {
	background-color: #EDECEB;
}

/* dropdown item text color */
.navbar-custom .navbar-nav .dropdown-item {
	color: #EDECEB;
}

/* dropdown item hover or focus */
.navbar-custom .navbar-nav .dropdown-item:hover,
.navbar-custom .navbar-nav .dropdown-item:focus {
	color: #EDECEB;
	background-color: #252422;
}
.arc_buttons{
	width : 110px;
	height : 35px;
	text-align: center;
	text-transform: uppercase;
	font-family: Helvetica;
	font-size: 12px;
	letter-spacing:1px;
	text-shadow:0;
	font-weight:bold;
	cursor: pointer;
	color: #EDECEB;
	 background-color: #252422;
    background-color: rgba(37, 36, 34, 1);
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 6px;
	transition: all 0.25s ease;
}
  .arc_buttons:hover {
    color:#252422;
    background:#EDECEB;
  }

input{
	padding: 20px;
	width: 100%;
	font-size: 16px;
	border-radius: 3px;
	background: #EDECEB;
	background: rgba(237, 236, 235, 1);
	border-style: Solid;
	border-color: #403D39;
	border-color: rgba(64, 61, 57, 1);
	border-width: 1px;
	height: 46px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
select{
	font-family : Helvetica;
	width: 100%;
	font-size: 16px;
	border-radius: 3px;
	background: #EDECEB;
	background: rgba(237, 236, 235, 1);
	border-style: Solid;
	border-color: #403D39;
	border-color: rgba(64, 61, 57, 1);
	border-width: 1px;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

td {
white-space: nowrap;
}
thead {
	font-family : Helvetica;
	font-size: 16px;
	white-space: nowrap;
	border : #22333B;
	border-collapse : rgb(34, 51, 59);
}
tbody {
	font-family: Monaco;
	font-size: 16px;
	white-space: nowrap;
	border : #22333B;
	border-collapse : rgb(34, 51, 59);
}

  .main_card__icon{
    align-self: baseline;
    font-family: Helvetica;
    font-size: 20px;
    color: #22333B;
    color: rgb(34, 51, 59);
  }
    .overviewcard__icon{
    align-self: baseline;
    font-family: Helvetica;
    font-size: 20px;
    color: #22333B;
    color: rgb(34, 51, 59);
  }

.card-header {
	font-family: Helvetica;
	width: -webkit-fill-available;
	background-color:transparent;
    border-bottom: transparent;
}
.card-body {
	width: 100%;
}

/* Modal styles */
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}
.modal form label {
	font-weight: normal;
}

.rooms-main-overview {
    display: grid;
	width: 20%;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
    grid-gap: 20px;
    margin: 20px;
  }
.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
    grid-gap: 20px;
    margin: 20px;
  }
.schedule_form {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    margin: 20px;
    width: inherit;
  }

.schedule_form .item {
    display: flex;
    grid-gap: 25px;
    font-size: smaller;
  }
.exhaust_form {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: inherit;
  }
  .exhaust_button{
	outline:none;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: Helvetica;
	width: 130px;
	border-radius:12px;
	background: #EDECEB;
	border: 2px solid #252422;
	color:#252422;
	letter-spacing:1px;
	text-shadow:0;
	font-size:12px;
	font-weight:bold;
	cursor: pointer;
	transition: all 0.25s ease;
  }
  .exhaust_button:hover {
    color:#EDECEB;
    background: #252422;
  }

#id_gpio_pin > option:nth-child(3) {
  display: none;
}
.exhaust_form .item {
    display: flex;
    grid-gap: 25px;
    font-size: smaller;
  }
.exhaust_form .item>select {
  height: 30px;
}

.exhaust_title {
  font-size: 12px;
}

  .overviewcard {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    background: #EDECEB;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-column-break-inside: avoid;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.overviewcard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.overviewcard__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Monaco;
  font-size: 15px;
  padding-top: 5px;
}
#schedule_card_id {
	grid-row-start: span 3;
}
#climate_card_id {
  column-count: 2;
  column-gap: 20px;
  margin: 20px;
}
   .main-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(265px, 1fr)); /* Where the magic happens */
    align-items: stretch;
    column-gap: 20px;
    margin: 20px;
	margin-top: 70px;
  }

  .main_card__icon{
    align-self: baseline;
    font-family: Helvetica;
    font-size: 20px;
    color: #22333B;
    color: rgb(34, 51, 59);
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: #EDECEB;
    background: rgba(237, 236, 235, 1);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* Assign grid instructions to our parent grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
  height: 100vh;
}

/* Give every child element its grid name */
.main {
  background-color: white;
}


@media screen and (min-width: 0px) and (max-width: 1060px) {
    #schedule_card_id {
	    column-count: 1;
    }
    #climate_card_id {
      column-count: 1;
    }
      .main-cards {
        display: grid;
        grid-template-columns: repeat(1, minmax(265px, 1fr)); /* Where the magic happens */
        align-items: stretch;
        column-gap: 20px;
        margin: 20px;
		margin-top: 70px;
      }
  }
@media screen and (min-width: 0px) and (max-width: 425px) {
	thead {
	font-family : Helvetica;
	font-size: 12px;
	white-space: nowrap;
	border : #22333B;
	border-collapse : rgb(34, 51, 59);
}
	tbody {
		font-family: Monaco;
		font-size: 12px;
		white-space: nowrap;
		border : #22333B;
		border-collapse : rgb(34, 51, 59);
	}
  }