{% extends 'base.html' %}
{% load schedule_display %}
{% load static %}
{% block content %}
<link href="{% static 'css/schedule.css' %}" rel="stylesheet">
<script src="{% static 'js/climate_data.js' %}"></script>
<script src="{% static 'js/edit_args.js' %}"></script>
<div class="grid-container">
	<main class="main">
		<div class="main-overview">
			{% for ip_state in get_room.ip%}
			<div class="overviewcard">
				<div class="overviewcard__icon">{{ ip_state.name }}</div>
				<div class="overviewcard__info">
						<div id="CO2-{{ get_room.id }}"></div>
						<div id="Humidity-{{ get_room.id }}"></div>
						<div id="Exhaust-{{ get_room.id }}"></div>
						<div>{{ ip_state.state }}</div>
						{% if ip_state.state %}
						<form action="{% url 'relay_control' get_room.id %}" method="POST">
							{% csrf_token %}
							<input type="text" hidden name='ip' class="form-control" value="{{ ip_state.ip }}">
							<input type="text" hidden name='state' class="form-control" value="high">
							<button type="submit" style="border: 0; background: none;">
								<i class="fa fa-toggle-on" aria-hidden="true"></i>
							</button>
						</form>
						{% else %}
						<form action="{% url 'relay_control' get_room.id %}" method="POST">
							{% csrf_token %}
							<input type="text" hidden name='ip' class="form-control" value="{{ ip_state.ip }}">
							<input type="text" hidden name='state' class="form-control" value="low">
							<button type="submit" style="border: 0; background: none;">
								<i class="fa fa-toggle-on" aria-hidden="true"></i>
							</button>
						</form>
						{% endif %}
					</div>
				</div>
				{% endfor %}
		</div>
		<div class="main-cards">
			<div class="card">
				<h5 class="card-header">Manage Schedules
					<button class="btn btn-dark" style="float: right;" data-toggle="modal" data-target="#addScheduleModal">Create Schedule</button>
				</h5>
				<div class="card-body">
						<table class="table table-hover table-bordered">
							<thead class="thead-dark">
								<tr>
									<th>
										<span class="custom-checkbox">
											<input type="checkbox" id="selectAll">
											<label for="selectAll"></label>
										</span>
									</th>
									<th scope="col">NAME</th>
									<th scope="col">START TIME</th>
									<th scope="col">END TIME</th>
									<th scope="col">HOW OFTEN</th>
									<th scope="col">State</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for room_climate_schedule in get_room.climate_schedule %}
								<tr>
									<th scope="row">
										<span class="custom-checkbox">
											<input type="checkbox" id="checkbox{{ room_climate_schedule.climate_schedule_id }}" name="options[{{ get_room.id }}, {{ room_climate_schedule.climate_schedule_id }}]" value="{{ room_climate_schedule.climate_schedule_id }}">
											<label for="checkbox{{ room_climate_schedule.climate_schedule_id }}"></label>
										</span>
									</th>
									<td>{{ room_climate_schedule.name }}</td>
									<td>{{ room_climate_schedule.start_time }}</td>
									<td>{{ room_climate_schedule.end_time }}</td>
									<td>EveryDay</td>
									{% for ip_state in room_climate_schedule.IP%}
									<td>{{ ip_state.state }}</td>
									{% endfor %}
									<td>
										<a class="fa fa-edit" data-toggle="modal" data-target="#editScheduleModal" data-whatever="{% url 'patch_schedule' get_room.id room_climate_schedule.climate_schedule_id %}"></a>
										<form action="{% url 'delete_schedule' get_room.id room_climate_schedule.climate_schedule_id %}" method="POST">
											{% csrf_token %}
											<a class="tooltips" data-toggle="tooltip" data-placement="top" title="Delete">
												<button type="submit" onclick="return confirm('Are you sure to delete this course ?');" style="border: 0; background: none;">
													<i class="fa fa-trash-alt" aria-hidden="true"></i>
												</button>
											</a>
										</form>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						</div>
					</div>
			<div class="card">
				<h5 class="card-header">Manage Intervals
					<button class="btn btn-dark" style="float: right;" data-toggle="modal" data-target="#addIntervalModal">Create Schedule Interval</button></h5>
				<div class="card-body">
						<table class="table table-hover table-bordered">
							<thead class="thead-dark">
								<tr>
									<th>
										<span class="custom-checkbox">
											<input type="checkbox" id="selectAll">
											<label for="selectAll"></label>
										</span>
									</th>
									<th scope="col">NAME</th>
									<th scope="col">Run Every</th>
									<th scope="col">For</th>
									<th scope="col">State</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for room_climate_interval in get_room.climate_interval %}
								<tr>
									<th scope="row">
										<span class="custom-checkbox">
											<input type="checkbox" id="checkbox{{ room_climate_interval.climate_interval_id }}" name="options[{{ get_room.id }}, {{ room_climate_interval.climate_interval_id }}]" value="{{ room_climate_interval.climate_interval_id }}">
											<label for="checkbox{{ room_climate_interval.climate_interval_id }}"></label>
										</span>
									</th>
									<td>{{ room_climate_interval.name }}</td>
									<td>{{ room_climate_interval.interval_hour }}:{{ room_climate_interval.interval_minute }}</td>
									<td>{{ room_climate_interval.duration_hour }}:{{ room_climate_interval.duration_minute }}</td>
									{% for ip_state in room_climate_interval.IP%}
									<td>{{ ip_state.state }}</td>
									{% endfor %}
									<td>
										<a class="fa fa-edit" data-toggle="modal" data-target="#editIntervalModal" data-whatever="{% url 'patch_interval' get_room.id room_climate_interval.climate_interval_id %}"></a>
										<form action="{% url 'delete_interval' get_room.id room_climate_interval.climate_interval_id %}" method="POST">
											{% csrf_token %}
											<a class="tooltips" data-toggle="tooltip" data-placement="top" title="Delete">
												<button type="submit" onclick="return confirm('Are you sure to delete this course ?');" style="border: 0; background: none;">
													<i class="fa fa-trash-alt" aria-hidden="true"></i>
												</button>
											</a>
										</form>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						</div>
					</div>
					<div class="card">
						<h5 class="card-header">Manage Climate
							<button class="btn btn-dark" style="float: right;" data-toggle="modal" data-target="#addClimateModal">Create Climate Parameters</button>
						</h5>
						<div class="card-body">
						<table class="table table-hover table-bordered">
							<thead class="thead-dark">
								<tr>
									<th scope="col">NAME</th>
									<th scope="col">CO2</th>
									<th scope="col">CO2 Buffer</th>
									<th scope="col">CO2 Automation</th>
									<th scope="col">Humidity</th>
									<th scope="col">Humidity Automation</th>
									<th scope="col">Temperature</th>
									<th scope="col">Exhaust Automation</th>
									<th scope="col">Buffer</th>
									<th scope="col">Start Time</th>
									<th scope="col">End Time</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for room_climate in get_room.climate %}
								<tr>
									<td>{{ room_climate.name }}</td>
									<td>{{ room_climate.co2_parameters }}</td>
									<td>{{ room_climate.co2_buffer_parameters }}</td>
									<td>{{ room_climate.co2_relay_ip }}</td>
									<td>{{ room_climate.humidity_parameters }}</td>
									<td>{{ room_climate.humidity_relay_ip }}</td>
									<td>{{ room_climate.temperature_parameters }}</td>
									<td>{{ room_climate.exhaust_relay_ip }}</td>
									<td>{{ room_climate.buffer_parameters }}</td>
									{% for climate_day_night in room_climate.climate_day_night %}
										<td>{{ climate_day_night.climate_start_time }}</td>
										<td>{{ climate_day_night.climate_end_time }}</td>
										{% empty %}
										<td>False</td>
										<td>False</td>
									{% endfor %}
									<td>
										<a class="fa fa-edit" data-toggle="modal" data-target="#editClimateModal" data-whatever="{% url 'patch_climate' get_room.id room_climate.climate_id %}"></a>
										<form action="{% url 'delete_climate' get_room.id room_climate.climate_id %}" method="POST">
											{% csrf_token %}
											<a class="tooltips" data-toggle="tooltip" data-placement="top" title="Delete">
												<button type="submit" onclick="return confirm('Are you sure to delete this course ?');" style="border: 0; background: none;">
													<i class="fa fa-trash-alt" aria-hidden="true"></i>
												</button>
											</a>
										</form>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
					<div class="card">
						<h5 class="card-header">Lighting LOG</h5>
						<div class="card-body">
							<table class="table table-hover table-bordered">
								<thead class="thead-dark">
									<tr>
										<th scope="col">NAME</th>
										<th scope="col">Start Time</th>
										<th scope="col">End Time</th>
									</tr>
								</thead>
								<tbody>
									{% for log in logs.Light %}
									<tr>
										<td>{{ log.name }}</td>
										<td>{{ log.start_time }}</td>
										<td>{{ log.end_time }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="card">
						<h5 class="card-header">Watering LOGS</h5>
						<div class="card-body">
							<table class="table table-hover table-bordered">
								<thead class="thead-dark">
									<tr>
										<th scope="col">NAME</th>
										<th scope="col">Start Time</th>
										<th scope="col">End Time</th>
									</tr>
								</thead>
								<tbody>
									{% for log in logs.Water %}
									<tr>
										<td>{{ log.name }}</td>
										<td>{{ log.start_time }}</td>
										<td>{{ log.end_time }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="card">
						<h5 class="card-header">CO2 LOGS</h5>
						<div class="card-body">
							<table class="table table-hover table-bordered">
								<thead class="thead-dark">
									<tr>
										<th scope="col">NAME</th>
										<th scope="col">Start Time</th>
										<th scope="col">End Time</th>
									</tr>
								</thead>
								<tbody>
									{% for log in logs.CO2 %}
									<tr>
										<td>{{ log.name }}</td>
										<td>{{ log.start_time }}</td>
										<td>{{ log.end_time }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="card">
						<h5 class="card-header">Humidity LOG</h5>
						<div class="card-body">
							<table class="table table-hover table-bordered">
								<thead class="thead-dark">
									<tr>
										<th scope="col">NAME</th>
										<th scope="col">Start Time</th>
										<th scope="col">End Time</th>
									</tr>
								</thead>
								<tbody>
									{% for log in logs.Humidity %}
									<tr>
										<td>{{ log.name }}</td>
										<td>{{ log.start_time }}</td>
										<td>{{ log.end_time }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="card">
						<h5 class="card-header">Exhaust LOGS</h5>
						<div class="card-body">
							<table class="table table-hover table-bordered">
								<thead class="thead-dark">
									<tr>
										<th scope="col">NAME</th>
										<th scope="col">Start Time</th>
										<th scope="col">End Time</th>
									</tr>
								</thead>
								<tbody>
									{% for log in logs.Exhaust %}
									<tr>
										<td>{{ log.name }}</td>
										<td>{{ log.start_time }}</td>
										<td>{{ log.end_time }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="card">
						<h5 class="card-header">Climate LOGS</h5>
						<div class="card-body">
							<table class="table table-hover table-bordered">
								<thead class="thead-dark">
									<tr>
										<th scope="col">CO2</th>
										<th scope="col">Humidity</th>
										<th scope="col">Temperature</th>
									</tr>
								</thead>
								<tbody>
									{% for log in logs.Climate %}
									<tr>
										<td>{{ log.co2 }}</td>
										<td>{{ log.humidity }}%</td>
										<td>{{ log.temperature }}<span>&#8457;</span></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
		</div>
	</main>
</div>
<div class="modal fade" id="addClimateModal" tabindex="-1" aria-labelledby="climateModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="climateModalLabel">New message</h5>
				<button type="button" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
			</div>
			<div class="modal-body">
				<form action="{% url 'put_climate' get_room.id %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label>NAME</label>
					<input type="text" name='name' class="form-control" placeholder="Name">
				</div>
				<div class="form-group">
					<label>CO2 Parameters</label>
					<input type="text" name='co2_parameters' class="form-control" placeholder="CO2">
					<input type="text" hidden name='co2_ip' class="form-control" value="{{ valid_climate_ips.CO2.ip }}">
				</div>
				<div class="form-group">
					<label>CO2 Buffer</label>
					<input type="text" name='co2_buffer_parameters' class="form-control" placeholder="CO2 Buffer">
				</div>
				<div class="form-group">
					<label>Humidity Parameters</label>
					<input type="text" name='humidity_parameters' class="form-control" placeholder="Humidity">
					<input type="text" hidden name='humidity_ip' class="form-control" value="{{ valid_climate_ips.Humidity.ip }}">
				</div>
				<div class="form-group">
					<label>Temperature Parameters</label>
					<input type="text" name='temperature_parameters' class="form-control" placeholder="Temperature">
					<input type="text" hidden name='exhaust_ip' class="form-control" value="{{ valid_climate_ips.Exhaust.ip }}">
				</div>
				<div class="form-group">
					<label>Buffer</label>
					<input type="text" name='buffer_parameters' class="form-control" placeholder="Buffer">
				</div>
				<div class="form-group">
					<label>Start Time</label>
					<input type="time"name='climate_start_time' class="form-control" placeholder="Start Time">
					<label>End Time</label>
					<input type="time" name='climate_end_time' class="form-control" placeholder="End Time">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editClimateModal" tabindex="-1" aria-labelledby="climateModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="climateModalLabel">New message</h5>
				<button type="button" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
			</div>
			<div class="modal-body">
				<form action="" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>NAME</label>
						<input type="text" name='name' class="form-control" placeholder="Name">
					</div>
					<div class="form-group">
						<label>CO2 Parameters</label>
						<input type="text" name='co2_parameters' class="form-control" placeholder="CO2">
						<input type="text" hidden name='co2_ip' class="form-control" value="{{ valid_climate_ips.CO2.ip }}">
					</div>
					<div class="form-group">
						<label>CO2 Buffer</label>
						<input type="text" name='co2_buffer_parameters' class="form-control" placeholder="CO2 Buffer">
					</div>
					<div class="form-group">
						<label>Humidity Parameters</label>
						<input type="text" name='humidity_parameters' class="form-control" placeholder="Humidity">
						<input type="text" hidden name='humidity_ip' class="form-control" value="{{ valid_climate_ips.Humidity.ip }}">
					</div>
					<div class="form-group">
						<label>Temperature Parameters</label>
						<input type="text" name='temperature_parameters' class="form-control" placeholder="Temperature">
						<input type="text" hidden name='exhaust_ip' class="form-control" value="{{ valid_climate_ips.Exhaust.ip }}">
					</div>
					<div class="form-group">
						<label>Buffer</label>
						<input type="text" name='buffer_parameters' class="form-control" placeholder="Buffer">
					</div>
					<div class="form-group">
						<label>Start Time</label>
						<input type="time" name='climate_start_time' class="form-control" placeholder="Start Time">
						<label>End Time</label>
						<input type="time" name='climate_end_time' class="form-control" placeholder="End Time">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addScheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="scheduleModalLabel">New message</h5>
				<button type="button" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
			</div>
			<div class="modal-body">
				<form action="{% url 'put_schedule' get_room.id %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="ips">Relay</label>
						<select id="ips" name="ip">
							{% for ip in valid_climate_schedule_ips %}
								<option value="{{ ip.id }}|{{ ip.name }}">{{ ip.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label>START TIME</label>
						<input type="datetime-local" name='start_time' class="form-control" placeholder="Start Time">
					</div>
					<div class="form-group">
						<label>END TIME</label>
						<input type="datetime-local" name='end_time' class="form-control" placeholder="End Time">
					</div>
					<div class="form-group">
						<label>HOW OFTEN</label>
						<input type="text" name='how_often' class="form-control" value="*" placeholder="HOW OFTEN">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editScheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="scheduleModalLabel">New message</h5>
				<button type="button" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
			</div>
			<div class="modal-body">
				<form action="" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>START TIME</label>
						<input type="datetime-local" name='start_time' class="form-control" placeholder="Start Time">
					</div>
					<div class="form-group">
						<label>END TIME</label>
						<input type="datetime-local" name='end_time' class="form-control" placeholder="End Time">
					</div>
					<div class="form-group">
						<label>HOW OFTEN</label>
						<input type="text" name='how_often' class="form-control" value="*" placeholder="HOW OFTEN">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addIntervalModal" tabindex="-1" aria-labelledby="intervalModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="intervalModalLabel">New message</h5>
				<button type="button" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
			</div>
			<div class="modal-body">
				<form action="{% url 'put_schedule' get_room.id %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="ips">Relay</label>
						<select id="ips" name="ip">
							{% for ip in valid_climate_interval_ips %}
								<option value="{{ ip.id }}|{{ ip.name }}">{{ ip.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label>Run Every</label>
						<input type="number" name='interval_hour' class="form-control" value="0"placeholder="Hour" min="0" max="23">
						<input type="number" name='interval_minute' class="form-control" value="0"placeholder="Minute" min="0" max="60">
						<label>FOR</label>
						<input type="number" name='duration_hour' class="form-control" value="0"placeholder="Hour" min="0" max="23">
						<input type="number" name='duration_minute' class="form-control" value="0"placeholder="Minute" min="0" max="60">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editIntervalModal" tabindex="-1" aria-labelledby="intervalModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="intervalModalLabel">New message</h5>
				<button type="button" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
			</div>
			<div class="modal-body">
				<form action="" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>Run Every</label>
						<input type="number" name='interval_hour' class="form-control" value="0" placeholder="Hour" min="0" max="23">
						<input type="number" name='interval_minute' class="form-control" value="0" placeholder="Minute" min="0" max="60">
						<label>FOR</label>
						<input type="number" name='duration_hour' class="form-control" value="0" placeholder="Hour" min="0" max="23">
						<input type="number" name='duration_minute' class="form-control" value="0" placeholder="Minute" min="0" max="60">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		var scheduleModal = document.getElementById('editScheduleModal')
		scheduleModal.addEventListener('show.bs.modal', function (event) {
			// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-* attributes
			var recipient = button.getAttribute('data-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = scheduleModal.querySelector('.modal-title')
			var modalBodyInput = scheduleModal.querySelector('.modal-body form')
			console.log(recipient)
			console.log(modalTitle)
			modalTitle.textContent = 'New message to ' + recipient
			modalBodyInput.setAttribute('action', recipient);
			console.log(modalBodyInput)
		})
		var climateModal = document.getElementById('editClimateModal')
		climateModal.addEventListener('show.bs.modal', function (event) {
			// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-* attributes
			var recipient = button.getAttribute('data-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = climateModal.querySelector('.modal-title')
			var modalBodyInput = climateModal.querySelector('.modal-body form')
			console.log(recipient)
			console.log(modalTitle)
			modalTitle.textContent = 'New message to ' + recipient
			modalBodyInput.setAttribute('action', recipient);
			console.log(modalBodyInput)
		})
		var intervalModal = document.getElementById('editIntervalModal')
		intervalModal.addEventListener('show.bs.modal', function (event) {
			// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-* attributes
			var recipient = button.getAttribute('data-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = intervalModal.querySelector('.modal-title')
			var modalBodyInput = intervalModal.querySelector('.modal-body form')
			console.log(recipient)
			console.log(modalTitle)
			modalTitle.textContent = 'New message to ' + recipient
			modalBodyInput.setAttribute('action', recipient);
			console.log(modalBodyInput)
		})
		// Select/Deselect checkboxes
		var checkbox = $('table tbody input[type="checkbox"]');
		$("#selectAll").click(function () {
			if (this.checked) {
				checkbox.each(function () {
					this.checked = true;
				});
			} else {
				checkbox.each(function () {
					this.checked = false;
				});
			}
		});
		checkbox.click(function () {
			if (!this.checked) {
				$("#selectAll").prop("checked", false);
			}
		});
	});
</script>
{% endblock content %}