{% extends 'base.html' %}
{% load schedule_display %}
{% load static %}
{% block content %}
<link href="{% static 'css/schedule.css' %}" rel="stylesheet">
<script src="{% static 'js/climate_data.js' %}"></script>
<div class="grid-container">
	<main class="main">
		<div class="main-cards">
			<h1>Climate Reads</h1>
			<div id="messages"></div>
					<div class="card">
						<div class="table-title">
							<div class="row">
								<div class="col-sm-6">
									<h2>Manage <b>Schedules</b></h2>
								</div>
								<div class="col-sm-6">
									<a class="fa fa-coffee" data-bs-toggle="modal" data-bs-target="#addScheduleModal"></a>
								</div>
							</div>
						</div>
						<div class="card-body">
						<table class="table table-hover table-bordered">
							<thead class="thead-dark">
								<tr>
									<th>
										<span class="custom-checkbox">
											<input type="checkbox" id="selectAll">
											<label for="selectAll"></label>
										</span>
									</th>
									<th scope="col">NAME</th>
									<th scope="col">START TIME</th>
									<th scope="col">END TIME</th>
									<th scope="col">HOW OFTEN</th>
									<th scope="col">State</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for room_climate_schedule in get_room.climate_schedule %}
								<tr>
									<th scope="row">
										<span class="custom-checkbox">
											<input type="checkbox" id="checkbox{{ room_climate_schedule.climate_schedule_id }}" name="options[{{ get_room.id }}, {{ room_climate_schedule.climate_schedule_id }}]" value="{{ room_climate_schedule.climate_schedule_id }}">
											<label for="checkbox{{ room_climate_schedule.climate_schedule_id }}"></label>
										</span>
									</th>
									<td>{{ room_climate_schedule.name }}</td>
									<td>{{ room_climate_schedule.start_time }}</td>
									<td>{{ room_climate_schedule.end_time }}</td>
									<td>EveryDay</td>
									{% for ip_state in room_climate_schedule.IP%}
									<td>{{ ip_state.state }}</td>
									<form action="{% url 'relay_control' get_room.id %}" method="POST">
										{% csrf_token %}
										<input type="text" hidden name='ip' class="form-control" value="{{ ip_state.ip }}">
										<input type="text" hidden name='state' class="form-control" value="low">
											<button type="submit" style="border: 0; background: none;">
												<i class="fa fa-toggle-on" aria-hidden="true"></i>
											</button>
									</form>
									<form action="{% url 'relay_control' get_room.id %}" method="POST">
										{% csrf_token %}
										<input type="text" hidden name='ip' class="form-control" value="{{ ip_state.ip }}">
										<input type="text" hidden name='state' class="form-control" value="high">
											<button type="submit" style="border: 0; background: none;">
												<i class="fa fa-toggle-on" aria-hidden="true"></i>
											</button>
									</form>
									{% endfor %}
									<td>
										<a class="fa fa-pencil" data-bs-toggle="modal" data-bs-target="#editScheduleModel" data-bs-whatever="{% url 'patch_schedule' get_room.id room_climate_schedule.climate_schedule_id %}"></a>
										<form action="{% url 'delete_schedule' get_room.id room_climate_schedule.climate_schedule_id %}" method="POST">
											{% csrf_token %}
											<a class="tooltips" data-toggle="tooltip" data-placement="top" title="Delete">
												<button type="submit" onclick="return confirm('Are you sure to delete this course ?');" style="border: 0; background: none;">
													<i class="fa fa-trash-o" aria-hidden="true"></i>
												</button>
											</a>
										</form>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						</div>
					</div>
					<div class="card">
						<div class="table-title">
							<div class="row">
								<div class="col-sm-6">
									<h2>Manage <b>Climate</b></h2>
								</div>
								<div class="col-sm-6">
									<a class="fa fa-coffee" data-bs-toggle="modal" data-bs-target="#addClimateModel"></a>
								</div>
							</div>
						</div>
						<div class="card-body">
						<div class="card-title" id="climate-data-{{ get_room.id }}"></div>
						<table class="table table-hover table-bordered">
							<thead class="thead-dark">
								<tr>
									<th>
										<span class="custom-checkbox">
											<input type="checkbox" id="selectAll">
											<label for="selectAll"></label>
										</span>
									</th>
									<th scope="col">NAME</th>
									<th scope="col">CO2</th>
									<th scope="col">CO2 Relay</th>
									<th scope="col">Humidity</th>
									<th scope="col">Humidity Relay</th>
									<th scope="col">Temperature</th>
									<th scope="col">Temperature Relay</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for room_climate in get_room.climate %}
								<tr>
									<th scope="row">
										<span class="custom-checkbox">
											<input type="checkbox" id="checkbox{{ room_climate.climate_id }}" name="options[{{ get_room.id }}, {{ room_climate.climate_id }}]" value="{{ room_climate.climate_id }}">
											<label for="checkbox{{ room_climate.climate_id }}"></label>
										</span>
									</th>
									<td>{{ room_climate.name }}</td>
									<td>{{ room_climate.co2_parameters }}</td>
									<td>{{ room_climate.co2_relay_ip }}</td>
									<td>{{ room_climate.humidity_parameters }}</td>
									<td>{{ room_climate.humidity_relay_ip }}</td>
									<td>{{ room_climate.temperature_parameters }}</td>
									<td>{{ room_climate.exhaust_relay_ip }}</td>
									<td>
										<a class="fa fa-pencil" data-bs-toggle="modal" data-bs-target="#editClimateModel" data-bs-whatever="{% url 'patch_climate' get_room.id room_climate.climate_id %}"></a>
										<form action="{% url 'delete_climate' get_room.id room_climate.climate_id %}" method="POST">
											{% csrf_token %}
											<a class="tooltips" data-toggle="tooltip" data-placement="top" title="Delete">
												<button type="submit" onclick="return confirm('Are you sure to delete this course ?');" style="border: 0; background: none;">
													<i class="fa fa-trash-o" aria-hidden="true"></i>
												</button>
											</a>
										</form>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
		</div>
	</main>
</div>
<div class="modal fade" id="addClimateModel" tabindex="-1" aria-labelledby="climateModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="climateModalLabel">New message</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="{% url 'put_climate' get_room.id %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label>NAME</label>
					<input type="text" name='name' class="form-control" placeholder="Name">
				</div>
				<div class="form-group">
					<label>CO2 Parameters</label>
					<input type="text" name='co2_parameters' class="form-control" placeholder="CO2">
					<input type="text" hidden name='co2_ip' class="form-control" value="{{ valid_climate_ips.CO2.ip }}">
				</div>
				<div class="form-group">
					<label>Humidity Parameters</label>
					<input type="text" name='humidity_parameters' class="form-control" placeholder="Humidity">
					<input type="text" hidden name='humidity_ip' class="form-control" value="{{ valid_climate_ips.Humidity.ip }}">
				</div>
				<div class="form-group">
					<label>Temperature Parameters</label>
					<input type="text" name='temperature_parameters' class="form-control" placeholder="Temperature">
					<input type="text" hidden name='exhaust_ip' class="form-control" value="{{ valid_climate_ips.Exhaust.ip }}">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editClimateModel" tabindex="-1" aria-labelledby="climateModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="climateModalLabel">New message</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>NAME</label>
						<input type="text" name='name' class="form-control" placeholder="Name">
					</div>
					<div class="form-group">
						<label>CO2 Parameters</label>
						<input type="text" name='co2_parameters' class="form-control" placeholder="CO2">
						<input type="text" hidden name='co2_ip' class="form-control" value="{{ valid_climate_ips.CO2.ip }}">
					</div>
					<div class="form-group">
						<label>Humidity Parameters</label>
						<input type="text" name='humidity_parameters' class="form-control" placeholder="Humidity">
						<input type="text" hidden name='humidity_ip' class="form-control" value="{{ valid_climate_ips.Humidity.ip }}">
					</div>
					<div class="form-group">
						<label>Temperature Parameters</label>
						<input type="text" name='temperature_parameters' class="form-control" placeholder="Temperature">
						<input type="text" hidden name='exhaust_ip' class="form-control" value="{{ valid_climate_ips.Exhaust.ip }}">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="addScheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="scheduleModalLabel">New message</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="{% url 'put_schedule' get_room.id %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="ips">Relay</label>
						<select id="ips" name="ip">
							{% for ip in valid_climate_schedule_ips %}
								<option value="{{ ip.id }}|{{ ip.name }}">{{ ip.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label>START TIME</label>
						<input type="datetime-local" name='start_time' class="form-control" placeholder="Start Time">
					</div>
					<div class="form-group">
						<label>END TIME</label>
						<input type="datetime-local" name='end_time' class="form-control" placeholder="End Time">
					</div>
					<div class="form-group">
						<label>HOW OFTEN</label>
						<input type="text" name='how_often' class="form-control" value="*" placeholder="HOW OFTEN">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="editScheduleModel" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="scheduleModalLabel">New message</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label>START TIME</label>
						<input type="datetime-local" name='start_time' class="form-control" placeholder="Start Time">
					</div>
					<div class="form-group">
						<label>END TIME</label>
						<input type="datetime-local" name='end_time' class="form-control" placeholder="End Time">
					</div>
					<div class="form-group">
						<label>HOW OFTEN</label>
						<input type="text" name='how_often' class="form-control" value="*" placeholder="HOW OFTEN">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		var scheduleModel = document.getElementById('editScheduleModel')
		scheduleModel.addEventListener('show.bs.modal', function (event) {
			// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-bs-* attributes
			var recipient = button.getAttribute('data-bs-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = scheduleModel.querySelector('.modal-title')
			var modalBodyInput = scheduleModel.querySelector('.modal-body form')
			console.log(recipient)
			console.log(modalTitle)
			modalTitle.textContent = 'New message to ' + recipient
			modalBodyInput.setAttribute('action', recipient);
			console.log(modalBodyInput)
		})
		var climateModel = document.getElementById('editClimateModel')
		climateModel.addEventListener('show.bs.modal', function (event) {
			// Button that triggered the modal
			var button = event.relatedTarget
			// Extract info from data-bs-* attributes
			var recipient = button.getAttribute('data-bs-whatever')
			// If necessary, you could initiate an AJAX request here
			// and then do the updating in a callback.
			//
			// Update the modal's content.
			var modalTitle = climateModel.querySelector('.modal-title')
			var modalBodyInput = climateModel.querySelector('.modal-body form')
			console.log(recipient)
			console.log(modalTitle)
			modalTitle.textContent = 'New message to ' + recipient
			modalBodyInput.setAttribute('action', recipient);
			console.log(modalBodyInput)
		})
		// Select/Deselect checkboxes
		var checkbox = $('table tbody input[type="checkbox"]');
		$("#selectAll").click(function () {
			if (this.checked) {
				checkbox.each(function () {
					this.checked = true;
				});
			} else {
				checkbox.each(function () {
					this.checked = false;
				});
			}
		});
		checkbox.click(function () {
			if (!this.checked) {
				$("#selectAll").prop("checked", false);
			}
		});
	});
</script>
{% endblock content %}